<template>
  <div>
        <view class="line"></view>
        <view class="text">街道</view>
        <picker class="icon"  @change="bindPickerChange" :value="multiIndex" :range="multiArray">
          <view class="title">{{area}}</view>
          <image  mode="widthFix" class="picker" :src="image"></image>
        </picker>
        <view class="line"></view>
        <view class="text">垃圾点</view>
        <picker class="icon" @change="laji" :value="multiIndex" :range="regin">
          <view class="title">{{place}}</view>
          <image mode="widthFix" class="picker" :src="image"></image>
        </picker>

        <view class="text">车牌号</view>
        <picker class="icon" @change="carNumber" :value="multiIndex" :range="chepai">
          <view class="title">{{number}}</view>
          <image  mode="widthFix" class="picker" :src="image"></image>
        </picker>

        <view class="border">
          <button class="loginBtn" type="default" @click="jumpBtn">
            <text>下 一 步</text>
          </button>
        </view>
  </div>
</template>

<script>
import card from '@/components/card'

export default {
  data () {
    return {
      area: "请选择街道",
      place: "请选择垃圾点",
      number: "请选择车牌号",
      sty: 0,
      score: '#6fc04f',
      image:"/static/images/add.jpg",
      chepai:[],
      multiIndex:0,
      regin:[],
      rubbish:[],
      multiArray:[]
    }
  },

  components: {
   
  },

  methods: {
    bindViewTap () {
      const url = '../logs/main'
      if (mpvuePlatform === 'wx') {
        mpvue.switchTab({ url })
      } else {
        mpvue.navigateTo({ url })
      }
    },

    bindPickerChange(e) {
      console.log(e)
        this.area=this.multiArray[parseInt(e.target.value)],
        this.place="请选择垃圾点"
        this.getCity()
    },

    carNumber(e) {
      console.log(e)
      this.number=this.chepai[parseInt(e.target.value)]
    },

    laji(e) {
      console.log(e)
      if(this.area=="请选择街道"){
      this.area= this.rubbish[parseInt(e.target.value)].street,
      this.place=this.regin[parseInt(e.target.value)]
      } else {
        this.place= this.regin[parseInt(e.target.value)]
      }
    },

    getSiteData() {
      this.$axios({			
        method:'GET'	,
        params: {
            pid: "1103__"
        },			
        url:'https://jiexin.tgsz123.com/tool/driver/address',
        }).then((res) =>{         
            console.log(res)   
              var chinaData = res.data.data;
            var sheng = []; //  
            for (var i = 0; i < chinaData.length; i++) {
              sheng.push(chinaData[i].name)
            }
            this.multiArray=sheng
        }).catch((error) =>{
            console.log(error)       
        })
    },

    
    getCity: function() { //  
       this.$axios({			
        method:'GET'	,
        params: {
           street:this.area
        },			
        url:'https://jiexin.tgsz123.com/tool/driver/point',
        }).then((res) =>{         
            var shengNum = res.data.data;
          var chinaData = res.data.data;
          var point = []
          var city=[]
          for (var i = 0; i < chinaData.length; i++) {
            city.push(chinaData[i])
            point.push(chinaData[i].pname)
          }
          this.setData({
            regin: point,
            rubbish: city
          })
        }).catch((error) =>{
            console.log(error)       
        })
      
    },
    jumpBtn: function() {
      if (this.area == "请先选择街道" || this.place == "请选择垃圾点") {
        wx.showToast({
          icon: "none",
          title: '请先选择街道或垃圾点',
        })
        return false
      }
      if (this.number == '请选择车牌号') {
        wx.showToast({
          icon: "none",
          title: '请选择车牌号',
        })
        return false
      }
      wx.navigateTo({
        url: '../counter/main?street=' + this.area + '&point=' + this.place + '&number=' + this.number,
      })
    } 
  },
  

  beforeCreate () {
  
   this.$axios({			
      method:'GET'	,			
      url:'http://jiexin.tgsz123.com/tool/driver/plnumber',
      }).then((res) =>{         
          console.log(res)   
           var chepai = res.data.data;
          var number = []; //  设置号码组
          for (var i = 0; i < chepai.length; i++) {
            number.push(chepai[i].pl_number)
          }
          this.chepai= number
      }).catch((error) =>{
          console.log(error)       
      }),
      this.$axios({			
      method:'GET'	,			
      url:'http://jiexin.tgsz123.com/tool/driver/point',
      }).then((res) =>{         
          console.log(res)   
           var shengNum = res.data.data;
           var chinaData = res.data.data;
           var city = [];
           var point = []
          for (var i = 0; i < chinaData.length; i++) {
             city.push(chinaData[i])
             point.push(chinaData[i].pname)
           }
          this.regin=point,
          this.rubbish=city
      }).catch((error) =>{
          console.log(error)       
      })
  },
  created(){
     this.getSiteData();
  }

}
</script>

<style scoped>
 .line {
  width: 100%;
  height: 25rpx;
  background: #f7f7f7;
}

.text {
  margin-left: 30rpx;
  margin-top: 40rpx;
  font-weight: bolder;
  color: #010101;
}

.icon {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative
}

.weui-select {
  margin-left: 30rpx;
  color: #c4c4c4;
  margin-top: 20rpx;
}

.title {
  margin-left: 30rpx;
  color: #c4c4c4;
  padding: 20rpx 0;
  width: 100%;
}

.picker {
  width: 15rpx;
  height: 25rpx;
  position: absolute;
  right:30rpx;
  top: 30rpx
}

.border .loginBtn {
  background:linear-gradient(to right, #70C04F , #26B051);
}

.loginBtn {
  width: 70%;
  margin-top: 400rpx;
}

.loginBtn text {
  color: white;
}

</style>

