<template>
  <div>
    <van-image
      width="100%"
      height="10rem"
      fit="cover"
      :src="login"
    />
    <van-cell-group>
  <van-field
    v-model="user"
    label="账号"
    :left-icon="icon1"
    placeholder="请输入账号"
    @input="card"
  />
  <van-field
    v-model="password"
    clearable
    label="密码"
    :left-icon="icon2"
    placeholder="请输入密码"
    @input="pass"
  />
  <button class="button"  @click="logins">登录</button>
</van-cell-group> 
    <div class="bottom">
      <van-image
      width="100%"
      height="10rem"
      fit="cover"
      :src="loginBottom"
    />
    </div>
    
  </div>
</template>

<script>
import card from '@/components/card'

export default {
  data () {
    return {
     login:"/static/images/login_top.jpg",
     loginBottom:"/static/images/login_bottom.jpg",
     icon1:"/static/images/usericon.jpg",
     icon2:"/static/images/password.jpg",
     flag:false,
     password:"",
     user:"",
    }
  },

  components: {
   
  },
  

  methods: {
    bindViewTap () {
      const url = '../index/main'
      if (mpvuePlatform === 'wx') {
        mpvue.switchTab({ url })
      } else {
        mpvue.navigateTo({ url })
      }
    },
    card(e){
      // console.log(e)
      this.user=e.mp.detail
    },
    pass(e){
      // console.log(e)
      this.password=e.mp.detail
    },
    logins(){
      var that=this
       const url = '../choose/main'
      if(that.password==""||that.user==""){
        wx.showToast({
          icon:"none",
          title:"请填写账号或密码"
        })
        return false
      }else{
      this.$axios({			
        method:'GET'	,
        params: {
           username:this.user,
           password:this.password
        },			
        url:'https://jiexin.tgsz123.com//tool/driver/login',
        }).then((res) =>{         
             if(res.data.code==1){
                mpvue.navigateTo({url})
             }else{
               wx.showToast({
                icon:"none",
                title:res.data.msg
              })
             }
        }).catch((error) =>{
            console.log(error)       
        })
      }

    },

    
   
  },

  created () {
    // let app = getApp()
  }
}
</script>

<style scoped>
  .bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }
  .button{
    width:80%;
    margin:10rpx auto;
  }
</style>

