<template>
    <div>
     <van-image
      width="100%"
      height="10rem"
      fit="cover"
      :src="success"
    />
    <van-button class="button" type="primary" :disabled="flag" @click="success">返回首页</van-button>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                flag:false,
                success:"/static/images/success.jpg"
            }
        },
        method:{
            success(){
                wx.navigateTo({
                    url:"/pages/index/main"
                })
            }
        }
    }
</script>

<style scoped>

</style>