<template>
  <div>
    
    
  </div>
</template>

<script>
import card from '@/components/card'

export default {
  data () {
    return {

    }
  },

  components: {
   
  },

  methods: {
    bindViewTap () {
      const url = '../logs/main'
      if (mpvuePlatform === 'wx') {
        mpvue.switchTab({ url })
      } else {
        mpvue.navigateTo({ url })
      }
    }

  },

  created () {
    // let app = getApp()
  }
}
</script>

<style scoped>
  
</style>

